<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http:schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmojiRPG"
        tools:targetApi="31">
        <activity
            android:name=".Adventure.AdventureMapActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Adventure.MapaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VisualNovelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangeEmojiActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmojiCombatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CollectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GachaActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>